In [6]:
import sqlite3
import pandas as pd

from data.setup_db import add_dataset_to_db

In [13]:

conn = sqlite3.connect('/Users/maxwellpatterson/Desktop/personal/bball/bball-reports/data/player_data.db')

df = pd.read_sql_query("SELECT * FROM play_by_play", conn)

game_info_df = pd.read_sql_query("SELECT game_id, game_date FROM game_info", conn)

# Convert game_date to datetime and extract year
game_info_df['year'] = pd.to_datetime(game_info_df['game_date']).dt.year


# Merge play-by-play data with game_info
df = pd.merge(df, game_info_df[['game_id', 'year']], on='game_id', how='left')
print(df.to_string())

:

In [ ]:
# Create a function to extract player actions
def extract_player_action(row):
    for desc in ['homedescription', 'neutraldescription', 'visitordescription']:
        if pd.notna(row[desc]):
            return row[desc]
    return None

In [9]:
# Add a new column for player actions
df['player_action'] = df.apply(extract_player_action, axis=1)

# Create a list of player columns
player_columns = ['player1_name', 'player2_name', 'player3_name']

# Melt the dataframe to create rows for each player involved in an action
melted_df = pd.melt(df, id_vars=['game_id', 'year', 'eventnum', 'player_action'], 
                    value_vars=player_columns, 
                    var_name='player_number', value_name='player_name')

# Remove rows where player_name is None
melted_df = melted_df.dropna(subset=['player_name'])

# Sort the dataframe
melted_df = melted_df.sort_values(['game_id', 'eventnum', 'player_number'])

# Display the first few rows of the new dataframe
print(melted_df.head(50).to_string())

conn.close()

     game_id  year  eventnum                                player_action player_number       player_name
1   29600012  1996         2  Jump Ball O'Neal vs. Kleine: Tip to Cassell  player1_name  Shaquille O'Neal
26  29600012  1996         2  Jump Ball O'Neal vs. Kleine: Tip to Cassell  player2_name        Joe Kleine
51  29600012  1996         2  Jump Ball O'Neal vs. Kleine: Tip to Cassell  player3_name       Sam Cassell
2   29600012  1996         3                   MISS Cassell 15' Jump Shot  player1_name       Sam Cassell
3   29600012  1996         4                 O'Neal REBOUND (Off:0 Def:1)  player1_name  Shaquille O'Neal
4   29600012  1996         5              MISS Ceballos 26' 3PT Jump Shot  player1_name   Cedric Ceballos
5   29600012  1996         6                Cassell REBOUND (Off:0 Def:1)  player1_name       Sam Cassell
6   29600012  1996         7                      Van Exel P.FOUL (P1.T1)  player1_name     Nick Van Exel
7   29600012  1996         8            Cassell Bad Pass Turnover (P1.T1)  player1_name       Sam Cassell
8   29600012  1996         9                       MISS Ceballos 1' Layup  player1_name   Cedric Ceballos
58  29600012  1996         9                       MISS Ceballos 1' Layup  player3_name      Robert Horry
10  29600012  1996        11          Ceballos Lost Ball Turnover (P1.T1)  player1_name   Cedric Ceballos
35  29600012  1996        11          Ceballos Lost Ball Turnover (P1.T1)  player2_name      Robert Horry
11  29600012  1996        12                       Van Exel STEAL (1 STL)  player1_name      Robert Horry
36  29600012  1996        12                       Van Exel STEAL (1 STL)  player2_name     Nick Van Exel
12  29600012  1996        13   O'Neal  Slam Dunk (2 PTS) (Van Exel 1 AST)  player1_name  Shaquille O'Neal
37  29600012  1996        13   O'Neal  Slam Dunk (2 PTS) (Van Exel 1 AST)  player2_name     Nick Van Exel
13  29600012  1996        14                    MISS Kleine 11' Jump Shot  player1_name        Joe Kleine
14  29600012  1996        15               Ceballos REBOUND (Off:0 Def:1)  player1_name   Cedric Ceballos
15  29600012  1996        16        Ceballos  Layup (2 PTS) (Jones 1 AST)  player1_name   Cedric Ceballos
40  29600012  1996        16        Ceballos  Layup (2 PTS) (Jones 1 AST)  player2_name       Eddie Jones
16  29600012  1996        17                    MISS Person 16' Jump Shot  player1_name     Wesley Person
17  29600012  1996        18                 Kleine REBOUND (Off:1 Def:0)  player1_name        Joe Kleine
18  29600012  1996        19                   MISS Person  3PT Jump Shot  player1_name     Wesley Person
19  29600012  1996        20                 O'Neal REBOUND (Off:0 Def:2)  player1_name  Shaquille O'Neal
20  29600012  1996        21           Ceballos Bad Pass Turnover (P2.T2)  player1_name   Cedric Ceballos
45  29600012  1996        21           Ceballos Bad Pass Turnover (P2.T2)  player2_name        A.C. Green
21  29600012  1996        22                      Van Exel S.FOUL (P2.T2)  player1_name     Nick Van Exel
22  29600012  1996        24            Cassell Free Throw 1 of 2 (1 PTS)  player1_name       Sam Cassell
23  29600012  1996        25                     SUB: Fisher FOR Van Exel  player1_name     Nick Van Exel
48  29600012  1996        25                     SUB: Fisher FOR Van Exel  player2_name      Derek Fisher
24  29600012  1996        26            Cassell Free Throw 2 of 2 (2 PTS)  player1_name       Sam Cassell

In [12]:
df.shape

(25, 36)

In [11]:
len(melted_df['player_action'].unique())

23